*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  min-height: 5px;
  width: 100%;
  background-image: linear-gradient(rgba(50, 0, 0, 0.5),rgba(0, 50, 0, 0.5)),url(slike/3594517.jpg);
  background-position: center;
}
.header nav{
  display: flex;
  padding: 2% 6%;
}
.header nav img{
  width: 150px;
  margin-bottom: -40px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display:block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

/*-------- Sale--------*/

.Prodaja{
  margin: 0px 0;
  background-image: linear-gradient(rgba(0, 50, 0, 0.5),rgba(50, 0, 0, 0.5)),url(slike/3594517.jpg);
  background-size: cover;
  position: relative;
}
.col-1{
  flex-basis: 100%;
  min-width: 150px;
  margin-bottom: 90px;
  box-shadow: 0px 5px 20px 0px #fff;
  background-color: #fff;
}
.mali-row{
  width: 60%;
  display:  flow-root;
  margin-top: px;
  margin: auto;
  padding: 0 8px;

}
.container{
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
}
.button:hover {
  background-color: #555;
}

.in-btn{
  border: 4;
  outline: 2;
  padding: 4px;
  margin-left: 15px;
  color: #555;
}

.check-cena {
  background-color: #83DC2F;

}
